// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.positions {
    text-align: right;
}

table.entries-form {
    border: 0
}

table.entries-form td {
    border: 0;
    padding: 0.2em;
}
