// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input.rating {
    font-family: monospace;
    width: 4ch;
}

textarea.url {
    font-family: monospace;
    width: 50ch;
    height: 2em;
    resize: none;
}

div.song-list-entry {
    height: 1.1em;
    line-height: 1.1em;
}

select.artist-select {
    height: 10em;
}


p.song-artists {
    font-size: 1.2em;
}