// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


/* Index */
.song-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.song-list {
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    max-height: 75em;
}

.song-list__el {
    margin: 1% 0;
    width: 48%;
    line-height: 1.5em;
    height: 1.5em;
}

/* Form */
input.rating {
    font-family: monospace;
    width: 4ch;
}

textarea.url {
    font-family: monospace;
    width: 50ch;
    height: 2em;
    resize: none;
}

select.artist-select {
    height: 10em;
}

/* Show */
.song-artwork {
    height: 400px;
    width: auto;
}

.song-artists {
    font-size: 1.5em;
    margin: 1em 0;
}

.song-rating {
    margin-bottom: 1em;
    font-size: 2em;
}

span.peak-position {
    font-weight: bold;
}

.song-embed {
    margin: 1em 0;
}

.icon-list {
    display: flex;
    flex-direction: row;
}

.icon-list__el {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

.song-date-list {
    width: 40%;
}

.song-date {
    width: 33%;
}