<div class="menu-wrapper">
  <div class="menu-name">
    <%= link_to 'Cherry', root_path %>
  </div>
  <div class="menu-nav-wrapper">
    <div class="menu-nav">
      <%= link_to 'Charts', years_path %>
    </div>
    <div class="menu-nav">
      <%= link_to 'Songs', songs_path %>
    </div>
    <div class="menu-nav">
      <%= link_to 'Artists', artists_path %>
    </div>
  </div>
</div>